<div class="container" ng-controller="rptDocsCirculaCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="selBanco">Banco:</label>
                            <input name="txtFiltroProv" id="txtFiltroProv" type="text" class="form-control" ng-model="search" placeholder="Banco"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="selBanco">&nbsp;</label>
                            <select name="selBanco" id="selBanco" class="form-control" ng-model="objBanco"
                                    ng-options="obj.bancomoneda for obj in losBancos | filter:{bancomoneda:search}" multiple>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: left">
                    <div class="col-md-5 col-sm-5">
                        <div class="form-group">
                            <label for="txtAl">A fecha:</label>
                            <input name="txtAl" id="txtAl" type="date" class="form-control" ng-model="params.fAl" placeholder="Al"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="getDocsCirculando()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="printVersion()">
                    <span class="glyphicon glyphicon-print"></span>
                </button>
            </div>
        </div>
    </div>
    <div id="toPrint">
        <div class="row">
            <div style="text-align: center">
                <h2>DOCUMENTOS EN CIRCULACI&Oacute;N</h2>
            </div>
        </div>
        <div class="panel panel-default" ng-repeat="d in data">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-7 col-md-7">
                        <label>Banco:&nbsp;</label>{{d.nombre}}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel" ng-repeat="t in d.tdocs">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <label>({{t.abreviatura}})&nbsp;{{t.descripcion}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th style="text-align: right">N&uacute;mero</th>
                                <th>Beneficiario</th>
                                <th>Concepto</th>
                                <th style="text-align: right">Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="det in t.docs" ng-class="{'linea-de-totales': det.beneficiario.toUpperCase().indexOf('TOTAL') > -1}">
                                <td>{{det.fecha | date: 'dd/MM/yyyy'}}</td>
                                <td style="text-align: right">{{det.numero}}</td>
                                <td style="white-space: nowrap">{{det.beneficiario}}</td>
                                <td>{{det.concepto}}</td>
                                <td style="text-align: right">{{det.monto | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" ng-show="resumen.length > 0">
            <div class="panel-heading" style="text-align: center">
                <h4>RES&Uacute;MEN</h4>
            </div>
            <div class="panel-body">
                <table class="table table-responsive table-condensed">
                    <tbody>
                    <tr ng-repeat="r in resumen">
                        <th>({{r.abreviatura}})&nbsp;{{r.descripcion}}</th>
                        <td style="text-align: right">{{r.monto | number:2}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>